profiles {


    standard {
         process.executor = 'local'
    }

    cluster {
      //The scratch directive allows you to execute the process in a temporary folder that is local to the execution node
      //scratch true By doing this, it tries to execute the script in the directory defined by the variable $TMPDIR in the execution node
      process {
      scratch true
      executor = 'sge'
      }
    }


}
